LoginClientApplication/xml-resources/web-service-references/LogInWSService/wsdl/localhost_8080/ManageAccountApplication/LogInWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://login.insa.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://login.insa.fr/">

<xs:element name="getUserInfo" type="tns:getUserInfo"></xs:element>

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"></xs:element>

<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element name="connexionParameter" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>