AuthCompositeApp/src/jbiServiceUnits/AuthService/fr/insa/docs/AuthRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/AuthRequest"
    xmlns:tns="http://xml.netbeans.org/schema/AuthRequest"
    elementFormDefault="qualified">
    <xsd:element name="AuthRequest" type="tns:AuthRequestType"/>
    <xsd:complexType name="AuthRequestType">
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
